<div class="container">

  <div class="col-lg-4">
    <div class="form-group">
      <label for="mmsi-selector">MMSI:</label>
      <select id="mmsi-selector" class="form-control" ng-options="mmsi for mmsi in mmsis"
              ng-model="selectedMmsi" ng-change="mmsiChanged()">
      </select>
    </div>

    <div class="form-group">
      <label for="trajectory-selector">Τροχιές:</label>
      <select id="trajectory-selector" class="form-control" ng-model="selectedTrajectory"
              ng-change="trajectoryChanged()">
        <option ng-repeat="trajectory in trajectories" value="{{trajectory.id}}">
          {{trajectory.start | date:'yyyy-MM-dd HH:mm:ss'}} - {{trajectory.end | date:'yyyy-MM-dd HH:mm:ss'}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-lg-8">
    <map trajectory="trajectory"></map>
  </div>

</div>
