<div class="container">

  <div class="col-lg-4">
    <div class="form-group">
      <label for="mmsi-selector">MMSI:</label>
      <select id="mmsi-selector" class="form-control" ng-options="mmsi for mmsi in mmsis" ng-model="selectedMmsi"
              ng-change="mmsiChanged()">
      </select>
    </div>

    <div class="form-group">
      <label for="stop-selector">Στάσεις:</label>
      <select id="stop-selector" class="form-control" ng-model="selectedStop" ng-change="stopChanged()">
        <option ng-repeat="stop in stops" value="{{stop.id}}">
          {{stop.start | date:'yyyy-MM-dd HH:mm:ss'}} - {{stop.end | date:'yyyy-MM-dd HH:mm:ss'}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-lg-8">
    <map stop="stop"></map>
  </div>

</div>
