<div class="container">

  <div class="col-lg-4">
    <div>
      <b>Ώρα:</b>
      {{ selectedDate.toDate() | date:'yyyy-MM-dd HH:mm' }}
    </div>
    <div class="form-group">
      <div id="datetimepicker"></div>
    </div>
  </div>

  <div class="col-lg-8">
    <map positions="positions"></map>
  </div>

</div>
